.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(31, 31, 31, 0.4);
}

.modal-box {
  background: #ffffff;
  width: min(90vw, 500px);
  height: fit-content;
  padding: 4vh min(8vw, 30px);
  border-radius: 40px;
  z-index: 3;
  text-align: center;
  box-shadow: 0 0 20px #ffffff;
}

.modal-title {
  font-size: min(5vh, 32px);
  margin: 0 0 min(3vh, 10px) 0;
}

.modal-text {
  font-family: "Inter", sans-serif;
  margin: 2vh 0;
  text-align: left;
  font-size: min(3vw, 19px);
}

.modal-button {
  letter-spacing: 0em;
  text-align: left;
  font-size: min(0vw, 0px);
  background: #000;
  color: #fff;
  text-align: center;
  width: 0%;
  margin: auto;
  padding: min(0vw, 0px);
  border-radius: 0px;
}

.modal-button:active {
  background: #d2b14c;
}
